* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'merriweather' , serif;
}
body {
    background-color: rgb(233, 231, 231);
    color: black;
}
.dark-mode {
    background-color: black;
    color: white;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #808080;
}
 /* styling till loggan i vänstr hörnet */
header .logo { 
    position: relative;
    color: black;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid black;
    padding:5px;
    border-radius: 50%;

}
 /*styling till länkarna på navigeringsmeyn*/
header .navigation a{ 
    color: black;
    background: gray;
    text-decoration: none;
    font-weight: 500;
    padding: 4px 15px;
    border-radius: 20px;

}

header .navigation a:hover{
    background: black;
    color: white;
}

/* Här börjar stylingen till Dark mode "switchen"*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* tar bort hur html utseendet såg ut innan */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* där pluppen glider i */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: black;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px white;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rundad plupp */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


/* här börjar styling för darkmode på navigeringen*/
.dark-mode header {
    background-color: white;
}
.dark-mode .navigation a {
    background-color: white;
}
/* här slutar stylingen för dark mode på navigeringen */

button {
    padding: 5px;
    border: solid black;
}

.content {
    margin: 180px 10px; /* ändrar margin så texten placeras snyggt */
    width: 100%;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.content .info h1{
    color: black;
    font-size: 120px; /* ändrar textstorleken*/
    text-transform: uppercase; /*gör stora bokstäver*/
    font-weight: 800;
    line-height: 95px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 0, 0.542);
    padding: 20px;
   
}
/* Ändrar stylingen på hem-sidans huvudinnehåll när dark mode är aktivt*/
.dark-mode .content .info h1{
    color: white;
    background-color: black;
    border: 4px solid gray;
}
.dark-mode .content .info span {
    color: white;
}
/*här slutar stylingen för darkmode på huvudtexten*/

.content .info p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
    max-width: 700px;
}

.content .info span{
    color: gray;
    
}
.media {
padding: 40px;
width: 90vw;
margin: 20px;
z-index: 2;
border: 2px solid black;
}
.dark-mode .media{
    border: 2px solid white;
}

/* här börjar stylingen på projects-sidan */

.projectinfo {
    text-align: center;
    margin: 10px;
}

#demo { /* karusellen*/
    max-width: 50%; /* Ändrar storleken på karusellen*/
    margin-left: 25%; /* plaserar karusellen i mitten av sidan */
}
.gul {
    margin-top: 10px;
}
.gul2 {
    display: block;
    margin-top: 10px;
    margin-left: 50px;
    border-bottom: 15px groove #808080;
    border-right: 20px groove #808080;
}

     
/* Här börjar stylingen till "om mig"-sidan */

.about-columns {
    display: grid;
    height: 100%;
    gap: 10px;
    grid-template-columns: 20% 15% 20% 20% 20% ;
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    margin-top: 50px;
    padding: 10px;

}
.col-1 {
 grid-row: 1/ span 3;
 grid-column: 1 / span 2;
 overflow: hidden; /*Gör att bilden håller sig innanför det den blivit tillsagd att ligga*/
 z-index: -3;
 margin-left: 15px;
 margin-top: 100px;

 
}
.col-1 img {
 width: 400px;
 height: 600px; 
 object-fit:cover; /* scalar ner bilden för att passa in i angivna ramar */
 background-color: black;
 border: solid 4px black;
 
}

.col-2 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    background-color: rgba(128, 128, 128, 0.367);
    color: black;
    padding-left: 15px;
    border-top: solid 4px black;
    border-right: solid 5px black;
    margin-top: 30px;
    border-bottom-left-radius: 15px;
}
.dark-mode .col-2{
    color: white;
}

.col-2 h3 {
    color: yellow;
}

.col-3 {
    grid-row: 2;
    grid-column-start: 3;
    grid-column-end: 6;
    background-color: rgba(255, 255, 0, 0.643);
    padding: 10px;
    z-index: 2;
    margin-top: 10px;
    border-left: solid 10px black;
    border-bottom: solid 10px black;
    border-top-right-radius: 15px;

}
.col-3 h3 {
    color: rgb(97, 95, 95);
}
.col-3 p{
    color: black;
    z-index: 2;
}
.dark-mode .col-3 {
    background: yellow;
}

.col-4 {
    grid-row: 3/4;
    grid-column-start:2;
    grid-column-end:5;
    background-color: rgba(128, 128, 128, 0.627);
    padding: 5px;
    margin-left: 50px;
    margin-bottom: 20px;
    border: outset 10px yellow;

}
.col-4 h3 {
    color: black;
}
.col-4 p{
    color: white;
}


.col-5 {
    grid-row-start: 4;
    grid-column: 5 / 3;
    background-color: black;
    padding: 10px;
    margin-left: 70px;
    border-top: 7px solid gray;
    border-left: 20px solid gray;
    max-height: 100px;

}
.col-5 h3 {
    color: white;
}
.col-5 p{
    color:white;
}

/* Här börjar stylingen till kontakt-sidan*/

.contact-container {
    display: block;
    margin: auto;
    width: 50%;
    padding-top: 5%;
    text-align: center;
}
.bubble {
    margin: 100px 100px;
    max-width: 300px; /*Ändrar storleken på bilden*/
    position: absolute;
    z-index: -3; /*Lägger bilden bakom texten*/
    transform: rotate(90);
    animation: rotate 5s; /*gör att animationen håller på i 5 sekunder*/
}
@keyframes rotate {
    100%{
        transform: rotate(360deg); /* bestämmer vad det är animationen skall göra*/
    }
}
hr {
   border:5px solid; /* gör att strecket blir tjockare*/
   border-radius:5px;
   
}
.contact-container h2 {
    padding: 10px;
    
}
.contact-links a {
    margin: 10px;
    
}

input {
    background-color: rgb(191, 183, 183); /* ändrar färgen för textfältet*/
    box-sizing: border-box;
    padding: 12px;
    margin: 12px;
    width: 300px;
    color: black;
} 
label {
    padding: 12px;
}
textarea {
    background-color: rgb(191, 183, 183);
    color: #010022;
}
.textbox{
    padding: 12px;
}

.submitbutton {
    background-color: black;
    padding: 10px; /* ändrar padding inanför knappen*/
    margin:5px; /* ändrar marginaler runt knappen */
    border: none; /* Tar bort standardkanten på knappen*/
    color: white;
    font-size: 20px;
    border: groove 5px black;
}
.submitbutton:hover {
    background-color: gray;
    cursor: pointer;
}

/* här börjar stylingen till footer*/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    margin: 4px;
}

footer img { 
    max-width: 30px; /* annpassar bildlänkarnas storlek */
    margin-left: 5px; /* anpassar bildlänkarnas avstånd till varandra från vänster */
}

@media only screen and (max-width: 600px) {
 /* här börjar brytpunkt/responsivitet för navigeringsremsan */
    header {
        padding: 10px;
    }

 /*responsivitet för huvudinnehållet på hem sidan */
    .content {
        max-width: 200px;
        padding: 0px 10px;
        display: grid;
        grid-template-rows: 50% 50%;
        margin: 0;
    }
    .content .info h1{
        color: white;
        font-size: 35px; /* ändrar textstorleken*/
        text-transform: uppercase; /*gör stora bokstäver*/
        font-weight: 600;
        line-height: 40px;
        margin-bottom: 20px;
        
    }
    
    .content .info p{
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 40px;
        max-width: 350px;
    }
    .media img {
        max-width: 300px;
        }

 /* här börjar responsivitet för projekt sidan med brytpunkt på 600*/
    .container {
        display: grid; /* Aktiverar Flexbox på container-elementet */
        height: 70vh; /* Sätter höjden till 100% av skärmens höjd */
    }

  /*Här börjar responsiviteten för sidan about me med brytpunkt på 600 */

    .about-columns {
        display: flex; /* här har jag gjort om till flex för att columnerna skall hamna*/
        flex-direction: column;
        padding: 10px;
    
    }
    .col-1 {
        text-align: center; /* jag vet inte varför men den här gjorde att bilden hamnade i mitten*/
        
    }
    .col-1 img {
        border-radius: 20px; /*tar bort de rundade hörnen */
        object-fit:fill; /* fyller ut bilden */
    }

    .line {
        visibility: visible;
        margin: 10px;
        
    }
    .col-5 img{
        max-width: 50px;
    }
    /* här börjar responsiviteten till kontakta mig sidan med en brytpunkt på 600*/

    .contact-container h1 {
        font-size: 25px;
    }

    .contact-container h2{
        font-size: 20px;
    }

    .contact-links img {
        max-width: 50px;
        margin: 15px 5px 1px 10px;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 550px;
        padding:0;
        margin: 0;
    }

}
@media only screen and (max-width: 768px) {
    /* här börjar brytpunkt/responsivitet för navigeringsremsan */
       header {
           padding: 10px;
           
       }
       
   
    /*responsivitet för huvudinnehållet på hem sidan */
       .content {
           margin: auto; 
           padding: 0px 10px;
           display: grid;
           grid-template-rows: 50% 50%;
           text-align: center;
           justify-content: center;
       }
       .content .info h1{
           color: white;
           font-size: 35px; /* ändrar textstorleken*/
           text-transform: uppercase; /*gör stora bokstäver*/
           font-weight: 600;
           line-height: 40px;
           margin-bottom: 20px;
           
       }
       
       .content .info p{
           font-size: 15px;
           font-weight: 500;
           margin-bottom: 40px;
           max-width: 350px;
       }
       .media {
           transform: rotate(0deg);
           padding: 0;
       }
       .media img {
           max-width: 300px;
           }
   
    /* här börjar responsivitet för projekt sidan med brytpunkt på 768*/
       .container {
           display: grid; /* Aktiverar Flexbox på container-elementet */
           height: 70vh; /* Sätter höjden till 100% av skärmens höjd */
       }
   
       .main-content { 
           padding: 20px; /* Inre marginal runt huvudinnehållet */
           display: block; /* Aktiverar Grid-layout på huvudinnehållet */
           /* grid-template-columns: ; */
           gap: 20px; /* Avstånd mellan varje kort inom griden */
       }
     /*Här börjar responsiviteten för sidan about me med brytpunkt på 768 */
   
       .about-columns {
           display: flex; /* här har jag gjort om till flex för att columnerna skall hamna på ett sätt*/
           flex-direction: column;
           padding: 10px;
       
       }
       .col-1 {
           text-align: left; /* jag vet inte varför men den här gjorde att bilden hamnade till vänster*/
           
       }
       .col-1 img {
           border-radius: 20px; /*tar bort de rundade hörnen */
           object-fit:fill; /* fyller ut bilden */
       }
   
       .line {
           visibility: visible;
           margin: 10px;
           
       }
       .col-5 img{
           max-width: 50px;
       }
       /* här börjar responsiviteten till kontakta mig sidan med en brytpunkt på 768*/
   
       .contact-container h1 {
           font-size: 25px;
       }
   
       .contact-container h2{
           font-size: 20px;
       }
   
       .contact-links img {
           max-width: 50px;
           margin: 15px 5px 1px 10px;
       }
   
       .form {
           display: flex;
           flex-direction: column;
           align-items: center;
           max-width: 550px;
           padding:0;
           margin: 0;
       }
}
@media only screen and (max-width: 1024px) {

    /*responsivitet för huvudinnehållet på hem sidan */
       .content {
          /* margin: 100px 200px; /* ändrar margin så texten placeras snyggt */
          /* width: 550px;*/
           padding: 0px 10px;
           display: grid;
           grid-template-rows: 50% 50%;
           text-align: center;
       }
       .content .info h1{
           color: white;
           font-size: 35px; /* ändrar textstorleken*/
           text-transform: uppercase; /*gör stora bokstäver*/
           font-weight: 600;
           line-height: 40px;
           margin-bottom: 20px;
           text-shadow: 5px 5px 5px black;
          
       }
       
       .content .info p{
           font-size: 15px;
           font-weight: 500;
           margin-bottom: 40px;
           max-width: 350px;
       }
       .media {
           transform: rotate(0deg);
           padding: 0;
       }
       .media img {
           max-width: 300px;
           }
   
    /* här börjar responsivitet för projekt sidan med brytpunkt på 768*/
       .container {
           display: grid; /* Aktiverar Flexbox på container-elementet */
           height: 70vh; /* Sätter höjden till 100% av skärmens höjd */
       }
   
       .main-content { 
           padding: 20px; /* Inre marginal runt huvudinnehållet */
           display: block; /* Aktiverar Grid-layout på huvudinnehållet */
           /* grid-template-columns: ; */
           gap: 20px; /* Avstånd mellan varje kort inom griden */
       }
     /*Här börjar responsiviteten för sidan about me med brytpunkt på 768 */
   
       .about-columns {
           display: flex; /* här har jag gjort om till flex för att columnerna skall hamna på ett sätt*/
           flex-direction: column;
           padding: 10px;
       
       }
       .col-1 {
           text-align: left; /* jag vet inte varför men den här gjorde att bilden hamnade till vänster*/
           
       }
       .col-1 img {
           border-radius: 20px; /*tar bort de rundade hörnen */
           object-fit:contain ; /* fyller ut bilden */
       }
   
       .line {
           visibility: visible;
           margin: 10px;
           
       }
       .col-5 img{
           max-width: 50px;
       }
       /* här börjar responsiviteten till kontakta mig sidan med en brytpunkt på 1024*/
   
       .contact-container h1 {
           font-size: 25px;
       }
   
       .contact-container h2{
           font-size: 20px;
       }
   
       .contact-links img {
           max-width: 50px;
           margin: 15px 5px 1px 10px;
       }
   
       .form {
           display: flex;
           flex-direction: column;
           align-items: center;
           max-width: 550px;
           padding:0;
           margin: 0;
       }
   
   }
       
    

