* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #010022;
    color: white;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #010022;
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    position: relative;
    color: #ff820e;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;

}

header .navigation a{
    color: #ff820e;
    background: #010022;
    text-decoration: none;
    font-weight: 500;
    padding: 2px 15px;
    border-radius: 20px;

}

header .navigation a:hover{
    background: #ff820e;
    color: #010022;
}

.content {
    margin: 180px 100px; /* ändrar margin så texten placeras snyggt */
    width: 100%;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.content .info h1{
    color: white;
    font-size: 60px; /* ändrar textstorleken*/
    text-transform: uppercase; /*gör stora bokstäver*/
    font-weight: 800;
    line-height: 60px;
    margin-bottom: 30px;
    text-shadow: 5px 5px 5px black;
   
}

.content .info p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
    max-width: 700px;
}

.content .info span{
    color: #ff820e;
}

.media {
padding: 40px;
transform: rotate(10deg);
width: 40vw;
overflow: hidden;
margin: 20px;
z-index: 2;
}

/* här börjar stylingen på projects-sidan */

.container {
    display: flex; /* Aktiverar Flexbox på container-elementet */
    height: 70vh; /* Sätter höjden till 100% av skärmens höjd */
}
     
    /* Stil för sidomenyn */
.sidebar {
    flex: 1; /* Ger sidomenyn en flexvärd på 1 */
    background-color: #010022; /* Bakgrundsfärg för sidomenyn */
    padding: 20px; /* Inre marginal på alla sidor av sidomenyn */
    color: white; /* Textfärg för sidomenyn */
    margin-top: 100px;
    
}
     
    /* Stil för länkar inom sidomenyn */
    .sidebar a {
        color: white; /* Textfärg för länkar inom sidomenyn */
        text-decoration: none; /* Tar bort understrykning från länkar */
        display: block; /* Gör länkarna block-nivå, vilket fyller hela raden */
        margin-bottom: 10px; /* Yttre marginal under varje länk */
    }
        
        /* Lägger till understrykning när man för musen över länken */
    .sidebar a:hover {
        text-decoration: underline;
    }
    .sidebar img {
        margin-top: 20px;
    } 
     
    /* Stil för huvudinnehållet */
.main-content {
    flex: 3; /* Ger huvudinnehållet en flexvärd på 3, vilket gör det tre gånger bredare än sidomenyn */
    padding: 20px; /* Inre marginal runt huvudinnehållet */
    display: grid; /* Aktiverar Grid-layout på huvudinnehållet */
    grid-template-columns: repeat(3, 1fr); /* Definierar tre kolumner med lika storlek */
    gap: 20px; /* Avstånd mellan varje kort inom griden */

}
h1 {
    color: #ff820e;
}

    /* Allmänna stilar för varje kort inom huvudinnehållet */
.card {
    border: 5px #ffffff7d; /* Ger kortet en grå kant */
    border-radius: 5px; /* Rundar kanterna på kortet */
    overflow: hidden; /* Förhindrar att innehåll går utanför kortets kanter */
    
    max-height: 500px;
    margin-top: 10%;
}
     
    /* Anpassar bilden inom kortet till kortets bredd */
.card img {
    max-width: 100%; /* Gör att bilden inte blir större än kortets bredd */
    display:block; /* Gör att bilden tar upp hela raden */
    
}
     
    /* Stil för texten inuti kortet */
.card p {
    padding: 10px; /* Inre marginal runt texten inuti kortet */
    background-color: #ffffff7d;
    color: #010022;
}
     
    /* Stil för knappen inom kortet */
.card button {
    background-color: #010022; /* Bakgrundsfärg för knappen */
    color: white; /* Textfärg för knappen */
    height: 50px;
    width: 100%;
    border: solid #ff820e; /* Tar bort standardkanten runt knappen */
    padding: 10px 15px; /* Inre marginal för texten inuti knappen */

    cursor: pointer; /* Ändrar muspekaren till en hand när den är över knappen */
    transition: background-color 0.3s; /* Lägger till en mjuk övergångseffekt för bakgrundsfärgen */
}
     
    
.card button:hover {
    background-color: #ff820e; /* Ändrar bakgrundsfärgen när man för musen över knappen */
}


/* Här börjar stylingen till "om mig"-sidan */

.about-columns {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% ;
    grid-template-rows: 100px 200px 200px 100px 100px 100px;
    margin-top: 50px;

}
.col-1 {
 grid-row: 2/4;
 overflow: hidden; /*Gör att bilden håller sig innanför det den blivit tillsagd att ligga*/
 
}
.col-1 img {
 width: 300px;
 height: 400px; 
 object-fit:contain; /* scalar ner bilden för att passa in i angivna ramar */
 border-radius: 50%;
 
}

.col-2 {
    grid-column-start: 2;
    grid-column-end: 5;
}

.col-3 {
    grid-row-start: 2;
    grid-column-start: 6;
    grid-column-end: 3;
}


.col-4 {
    grid-row-start: 3;
    grid-column-start:2;
    grid-column-end:5;

}


.col-5 {
    grid-row-start: 4;
    grid-column: 6 / 3;
}
h3 {
    color: #ff820e;
}



/* Här börjar stylingen till kontakt-sidan*/
.contact-container {
    display: block;
    margin: auto;
    width: 50%;
    padding-top: 5%;
    text-align: center;
    
}
.contact-container h2 {
    padding: 10px;
}
.contact-links a {
    margin: 10px;
    
    
}
input {
    background-color: white; /* ändrar färgen för textfältet*/
    box-sizing: border-box;
    border: 5px #ff820e;
    padding: 12px;
    margin: 12px;
    width: 300px;
    color: #010022;
} 
label {
    padding: 12px;
}
textarea {
    background-color: white;
    color: #010022;
}
.textbox{
    padding: 12px;
}

.submitbutton {
    background-color: #ff820e;
    padding: 5px; /* ändrar padding inanför knappen*/
    margin:5px; /* ändrar marginaler runt knappen */
    border: none; /* Tar bort standardkanten på knappen*/
    color: #010022;
}
.submitbutton:hover {
    background-color: #ca680b;
    cursor: pointer;
}

/* här börjar stylingen till footer*/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer img { 
    max-width: 20px; /* annpassar bildlänkarnas storlek */
    margin-left: 5px; /* anpassar bildlänkarnas avstånd till varandra från vänster */
}

@media only screen and (max-width: 600px) {

    header {
        padding: 10px;
        background-color: #ff820e;
    }

    header .logo {
        background-color: #ff820e;
        color: #010022;
    }

    .navigation {
        background-color: #ff820e;
    }
    header .navigation a {
        background-color:#ff820e;
        color: #010022;
        
        
    }


}
    

